# Python
__pycache__/
*.pyc
.venv/

# VS Code
.vscode/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Alembic cache
*.sqlite3

# Docker
postgres_data/

# Misc
.idea/